<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rate %>
  </div>
  <div class="field">
    <%= f.label :last_visited %><br>
    <%= f.text_field :last_visited, class: 'datepicker' %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :restaurant_id, value: params[:restaurant_id] || @restaurant.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
    $(function() {
        $('.datepicker').datepicker();
    });
</script>