<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @rating.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @rating.restaurant %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
