<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<div class="round">
  <%= image_tag @restaurant.avatar.url %>
</div>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Ratings</strong>
</p>

<% unless @ratings.empty? %>
<% @ratings.each do |rating| %>
   <p>
     Rated <%= rating.rate %> by <%= rating.user.email %>
     <% if rating.last_visited %>
         who last visited at
         <%= rating.last_visited.strftime('%m/%d/%Y')%>
     <% end %>
     <%= link_to '[edit]', edit_rating_path(rating) if rating.user == current_user %>
   </p>
<% end %>
<% else %>
<p>No ratings yet.</p>
<% end %>

<% if can_add_rating? %>
<%= link_to 'Add Rating', new_rating_path(restaurant_id: @restaurant.id) %><br><br>
<% end %>

<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>